.main {
  min-height: 100vh;
  display: flex;
  background-color: var(--primary-bg);
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

/* List content */
.content {
  flex-basis: 100%;
}

.companyTitle {
  color: var(--primary-text-color);
  opacity: 0.87;
  text-shadow: var(--text-shadow);
  font-size: 2.2rem;
  margin-top: 0;
}

.title {
  color: var(--primary-text-color);
  opacity: 0.5;
  text-shadow: var(--text-shadow);
  font-size: 1.5rem
}

.productList {
  padding-bottom: 3rem;
}

.productList__title {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--secondary-text-color);
  margin: unset;
}

.productList__wrapper {
  background-color: var(--secondary-bg);
  padding: 1.5rem;
  margin-top: 1rem;
  border-radius: .9rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.productList__content {
  background-color: var(--primary-bg);
  color: var(--secondary-text-color);
  padding: 1.5rem;
  border-radius: .3rem;
  font-size: .8rem;
  flex-basis: calc(50% - 1.5rem);
}

.productList__content__upper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.3rem;
}

.productList__content__upper img {
 border-radius: .3rem;
}

.productList__content__upper__name {
  color: var(--primary-text-color);
  font-size: .9rem;
}

.productList__content__upper__price {
  color: var(--primary-text-color);
  font-size: .8rem;
}

.productList__content__center {
 display: flex;
 flex-wrap: wrap;
 gap: 1.3rem;
}

.productList__content__center__date {
  flex-basis: calc(40% - 1.3rem);
}

.productList__content__bottom {
  font-size: .7rem;
}
/* End List content */

/* Sidebar */
.sidebar {
  flex-basis: 100%;
  background-color: var(--secondary-bg);
  padding: 1.5rem 1.875rem;
  border-radius: .9rem;
}

.sidebar__title {
  color: var(--secondary-text-color);
  font-size: 1.25rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--secondary-text-color);
}

.sidebar__selects {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.sidebar__selects select {
  flex-basis: 100%;
  background-color: var(--primary-bg);
  color: var(--primary-text-color);
  font-size: 1rem;
  border-radius: .3rem;
  padding: .5rem .8rem;
  border: unset;
  cursor: pointer;

  /* Replace default arrow stylying */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.09409 9.18994L0.816466 0.0488263L11.3717 0.0488253L6.09409 9.18994Z" fill="%23A5A5A5"/></svg>');
  background-position: right .7rem top 50%;
  background-repeat: no-repeat;
  padding-right: 1rem;
}

/* End Sidebar */


@media (min-width: 980px) {
  .content {
    flex-basis: calc(80% - 2rem);
  }

  .sidebar {
    flex-basis: 20%;
    max-height: 18rem;
  }

  .productList__content {
    flex-basis: unset;
  }
}

@media (max-width: 600px) {
  .productList__content {
    flex-basis: 100%;
  }
}
