.content {
  flex-basis: 100%;
}

.companyTitle {
  color: var(--primary-text-color);
  opacity: 0.87;
  text-shadow: var(--text-shadow);
  font-size: 2.2rem;
}

.title {
  color: var(--primary-text-color);
  opacity: 0.5;
  text-shadow: var(--text-shadow);
  font-size: 1.5rem;
}

.productList {
  padding-bottom: 3rem;
}

.productList__title {
  color: var(--primary-text-color);
  font-size: 1.25rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--secondary-text-color);
  margin: unset;
}

.productList__wrapper {
  background-color: var(--secondary-bg);
  padding: 1.5rem 2rem;
  margin-top: 1rem;
  border-radius: 0.9rem;
  max-width: 90vw;
}

.productList__content {
  background-color: var(--primary-bg);
  color: var(--secondary-text-color);
  padding: 0.7rem 1rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  max-width: 90%;
}

.productList__content__upper {
  display: flex;
  gap: 1.3rem;
}

.productList__content__upper img {
  border-radius: 0.3rem;
  object-fit: cover;
}

.productList__content__upper__name {
  color: var(--primary-text-color);
  font-size: 0.9rem;
}

.productList__content__upper__price {
  color: var(--primary-text-color);
  font-size: 0.8rem;
}

.productList__content__center {
  display: flex;
  gap: 1.3rem;
}

.productList__content__bottom {
  font-size: 0.7rem;
}
/* End List content */

@media (min-width: 980px) {
  .companyTitle {
    margin-top: 0;
  }

  .content {
    flex-basis: calc(80% - 2rem);
    max-width: 61.5rem;
  }

  .productList__content {
    flex-basis: unset;
  }

  .productList__content:hover {
    transform: scale(1.03);
  }

  .productList__content__center__date {
    margin-left: auto;
  }
}

@media (max-width: 600px) {
  .productList__content {
    max-width: unset;
  }
}
